<div class="row">
   <div class="col-md-10">
      <div class="row top-bar">
         <div class="col-md-6">
            <img src="{{singleProduct.picture}}" alt="">
         </div>
         <div class="col-md-6">
            {{singleProduct.title}}
            {{singleProduct.price | currency: 'USD'}}
            {{singleProduct.description}}
         </div>
      </div>
      <div class="col-md-12">
         <ul class="nav nav-tabs">
            <li class="nav-item">
               <a class="nav-link active">Description</a>
            </li>
         </ul>
      </div>
      <div class="col-md-12">
         <h3>Description</h3>
         {{singleProduct.description}}
      </div>
   </div>
   <div class="col-md-2">
      <app-small-cart-items></app-small-cart-items>
   </div>
</div>