<div class="container-fluid">
  <nav>
    <div class="row">
      <div class="col-md-2">Shop</div>
      <div class="col-md-8"></div>
      <div class="col-md-2">
        Cart
      </div>
    </div>
  </nav>
  <div class="row top-bar">
    <div class="col-md-5 al-left">
      Showing Product
    </div>
    <div class="col-md-5 al-right">
      <app-drop-down-lists></app-drop-down-lists>
    </div>
    <div class="col-md-2">
    </div>
  </div>
<!--   <div class="row">
 <div class="col-md-10">
      <app-single-product-card-item></app-single-product-card-item>
    </div>
    <div class="col-md-2">
      <app-small-cart-items></app-small-cart-items>
    </div>
   <app-product-list></app-product-list>
    
  </div> -->
  <router-outlet>

  </router-outlet>
</div>