<div *ngIf = "cartItems.length == 0" class="alert pdz">
   No Products in the cart
</div>
<ul *ngIf = "cartItems.length > 0" class="list-group">
   <li  class="list-group-item pdz" *ngFor="let cart of cartItems">
      <div class="cart-item">
         <span class="cart-price"> <button class="btn btn-link pdz" (click)="deleteCart(cart)">x</button>  </span> <span> {{(cart.productName.length > 24)? (cart.productName | slice:0:22)+'..':(cart.productName) }}</span><span class="right-margin"></span><span><img width="15%" height="15%" src="{{cart.imageURL}}" alt="Image"></span> 
         <br><span class="right-margin"></span><span>{{cart.qty}} * {{cart.price | currency :'USD'}}</span>
      </div>
   </li>
   <li class="list-group-item pdz">
     <strong> subtotal: </strong> {{ cartTotal | currency:'USD'}} 
   </li>
   <li class="list-group-item pdz">
      <a  class=" btn-sm btn btn-dark right-margin" routerLink = "/cart"
      > View Cart </a>
      <button type="button" class="btn btn-sm btn btn-dark">Check Out</button>
   </li>
 </ul>
