.card-text{
    text-align: center;
}
.cartItem{
    text-align: right;
    margin: 0px;
}
.cart-price{
    color: red;
}
.cart-item{
    font-size: small;
}
.al-right{
    text-align: right;
}
.al-left{
    text-align: left;
}
.al-center{
    text-align: center;
}
.pdz{
    padding: 0px;
}
.top-bar{
    margin-bottom: 10px;
}

.btn-link{
    color: red !important;
}
.right-margin{
    margin-right: 10px;
    border-radius: 0px ;
}
.list-group-item{
    border: none;
}
.btn{
    border-radius: 0px !important;
}
.card-body{
    padding: 0px;
}
.btn-border{
    border-top: 1px solid rgba(0,0,0,.075)!important;
}
